@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
body {
  height: 99%;
  overflow: auto; /* Hide scrollbars */
}

img[src=""] {
  display: none;
}

i[src=""] {
  display: none;
}

p {
  color: green;
}

#multiple-image-preview {
  display: flex;
}
#multiple-image-preview img {
  width: 85px;
  height: 85px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  opacity: 85%;
}

.element-box {
  justify-content: space-between;
  display: block;
  padding: 20px;
  height: 400px;
  box-sizing: border-box;
  border: 1px outset rgb(203, 232, 241);
  border-radius: 5px;
  margin: 35px;
  text-align: left;
}
.element-box:hover {
  box-shadow: 23px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 30px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /*Enable scroll if needed
  /* Black w/ opacity */
}

.popup-box {
  /* height: 130%; */
  background-color: #fefefe;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

  width: 50%;
  /* justify-content: space-between; */
  display: block;
  padding: 20px;
  /* height: 400px; */
  box-sizing: border-box;
  border: 1px outset rgb(203, 232, 241);
  border-radius: 5px;
  text-align: left;
  transition: all 5s ease-in-out;
}
.popup-box:hover {
  box-shadow: 23px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.float-container {
  border: 3px solid #fff;
  padding: 40px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 40px;
}

.float-three-children {
  width: 25%;
  float: left;
}

.edit-title {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #fefefe;
  width: 50%;
  justify-content: space-between;
  display: block;
  padding: 20px;
  box-sizing: border-box;
  border: 1px outset rgb(203, 232, 241);
  border-radius: 5px;
  text-align: left;
  transition: all 5s ease-in-out;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
