{% extends 'base.html' %}
{% block title %}
    Album List
{% endblock %}
{% load static %}
{% block body %}

    <div style="display: flex; flex-wrap: wrap">
        {% for image in album %}
            <!-- Edit Title Segment -->
            <div class="popup" id="edit-title-{{ image.id }}">
                <div class="edit-title">
                    <span class="close" style="font-size: 1.5rem;">
                        <a onclick="closeEditTitle(`{{ image.id }}`)">&times;</a>
                    </span>
                    <form method="post" enctype="multipart/form-data" action="{% url 'app:update_title' image.id %}" style="display: block; margin-bottom: 10px; padding: 4px;">
                        <div class="form-group row">
                            {% csrf_token %}
                            <label for="title" class="col-sm-2 col-form-label">Title</label>
                            <input type="text" name="title" maxlength="200" class="form-control" value="{{ image.title }}" required="" id="id_title"/>
                            <label for="images" class="col-sm-2 col-form-label">Images</label>
                            <input type="file" name="images" accept="image/*" class="form-control" id="images" multiple onchange="previewAddedImage(event)"/>
                            <div class="image-added-preview" id="image-added-preview"></div>
                            <button class="btn btn-primary btn-sm" type="submit" style="margin-top: 15px; margin: 5px;height: 30px;">
                                <i class="fa-regular fa-square-check"></i>
                                Update</button>

                        </div>
                    </form>


                    {% for key, value in image_collection.items %}
                        {% if key == image.id %}
                            <div class="row">
                                {% for element in value %}
                                    <img
                                        src="{{ MEDIA_URL }}/{{ image.id }}/{{ element }}" style="height: 1%;width: 20%;display: flex;" alt="">
                                        <!-- <h6>{{ element }}</h6> -->
                                        <form action="{% url 'app:delete_image' image.id element %}">

                                            <button class="btn btn-danger btn-sm" type="submit">
                                                <i class="fa fa-trash"></i>
                                                Delete</button>
                                        </form>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <button onclick="closeEditTitle(`{{ image.id }}`)" class="btn btn-secondary btn-sm" style="margin-top: 15px; margin: 5px;">
                            <i class="fa-regular fa-circle-xmark"></i>
                            Close</button>
                    </div>
                </div>

                <!-- Pop Up Box -->
                <div class="popup" id="popup-{{ image.id }}">
                    <div class="card popup-box" style="margin-left: auto; margin-right: auto; padding: 20px;">
                        <span
                            class="close" style="font-size: 1.5rem;">
                            <!-- for x button to close -->
                            <a onclick="closePopUp(`{{ image.id }}`)">&times;</a>
                        </span>
                        <h4>{{ image.title }}</h4>
                        {% for key, value in image_collection.items %}
                            {% if key == image.id %}

                                {% for element in value %}
                                    <img src="{{ MEDIA_URL }}/{{ image.id }}/{{ element }}" style="height: 120px;width: 175px;margin-left: auto; margin-right: auto;display: flex;" alt="">

                                        <div
                                            class="row">
                                            <!-- <h6 style="margin: 10px;">{{ element }}</h6> -->
                                            <a href="{{ MEDIA_URL }}/{{ image.id }}/{{ element }}" download="{{ element }}" style="margin: 10px;margin-left: auto; margin-right: auto;">
                                                <i class="fa-solid fa-download"></i>
                                                Download</a>
                                            <br></div>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                <button onclick="closePopUp(`{{ image.id }}`)" class="btn btn-secondary btn-sm" style="left: 0;">
                                    <i class="fa-regular fa-circle-xmark"></i>
                                    Close</button>
                                <!-- <button onclick="closePopUp(`{{ image.id }}`)" class="btn btn-primary" style="height: 40px; width: 100px;">Close</button> -->

                            </div>
                        </div>

                        <!-- Display of Album List -->

                        <div class="row" style="margin-left: 5px; margin-right: 5px; ">
                            <div class="card element-box" id="image-{{ image.id }}" style="width: 18rem; height: 400px; position: relative;">
                                {% for key, value in image_collection.items %}
                                    {% if key == image.id %}
                                        <img class="card-img-top" src="http://localhost:8000/{{ MEDIA_URL }}/{{ image.id }}/{{ value.0 }}" style="height: 175px;width: 100%;" alt="" onclick="popup(`{{ image.id }}`)">
                                        {% endif %}
                                    {% endfor %}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ image.title }}</h5>
                                        <div class="row" style=" position: absolute;bottom: 5px;right: 30px;">
                                            <form action="{% url 'app:delete_album' image.id %}">
                                                <button class="btn btn-danger btn-sm" type="submit" style="margin: 4px;">
                                                    <i class="fa fa-trash"></i>

                                                    Delete</button>
                                            </form>
                                            <button onclick="editTitle(`{{ image.id }}`)" class="btn btn-info btn-sm" style="margin: 4px; ">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </i>Edit</button>
                                        <form action="{% url 'app:download_album' image.id %}">
                                            <button class="btn btn-primary btn-sm" type="submit" style="margin: 4px;">
                                                <i class="fa-solid fa-download"></i>
                                                Download</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                {% endblock %}
