{% extends 'base.html' %}
{% block title %}
    Album List
{% endblock %}
{% load static %}
{% block body %}

    <div style="display: flex; flex-wrap: wrap">
        {% for image in album %}
            <!-- Edit Title Segment -->
            <div class="edit-title" id="edit-title-{{ image.id }}" style="display: none;">
                <form method="post" enctype="multipart/form-data" action="{% url 'app:update_title' image.id %}" style="display: block; margin-bottom: 10px">
                    <div class="form-group row">
                        {% csrf_token %}
                        <label for="title" class="col-sm-2 col-form-label">Title</label>

                        <div class="col-sm-10">
                            <input type="text" name="title" maxlength="200" class="form-control" value="{{ image.title }}" required="" id="id_title"/>
                        </div>
                        <button class="btn btn-primary" type="submit">Update</button>
                    </div>
                </form>
            </div>

            <!-- Pop Up Box -->
            <div class="card popup-box" id="popup-{{ image.id }}" style="width: 25%;margin-left: auto; margin-right: auto;display: none; padding: 20px;">

                {% for key, value in image_collection.items %}
                    {% if key == image.id %}

                        {% for element in value %}
                            <img src="{{ MEDIA_URL }}/{{ image.id }}/{{ element }}" style="height: 150px;width: 50%;margin-left: auto; margin-right: auto;display: flex;" alt="">
                                <h6>{{ element }}</h6>
                                <form action="{% url 'app:delete_image' image.id element %}">
                                    <button type="submit">Delete</button>
                                </form>
                                <a href="{{ MEDIA_URL }}/{{ image.id }}/{{ element }}" download="{{ element }}">Download Image</a>
                                <br>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}


                        <button onclick="closePopUp(`{{ image.id }}`)" class="btn btn-primary" style="height: 40px; width: 100px;">Close</button>

                    </div>

                    <!-- Display of Album List -->


                    <div class="card element-box" id="image-{{ image.id }}" style="width: 18rem; height: 400px; position: relative;">
                        {% for key, value in image_collection.items %}
                            {% if key == image.id %}
                                <img class="card-img-top" src="http://localhost:8000/{{ MEDIA_URL }}/{{ image.id }}/{{ value.0 }}" style="height: 175px;width: 100%;" alt="" onclick="popup(`{{ image.id }}`)">
                                {% endif %}
                            {% endfor %}
                            <div class="card-body">
                                <h5 class="card-title">{{ image.title }}</h5>
                                <a href="{% url 'app:delete_album' image.id %}" class="card-link">Delete</a>
                                <a href="#" onclick="editTitle(`{{ image.id }}`)" class="card-link">Update</a>
                                <br>
                                    <a href="{% url 'app:download_album' image.id %}" class="card-link">Download Album</a>

                                </div>
                            </div>
                        </div>

                    {% endfor %}

                {% endblock %}
